<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pic_discovery0</string>
	<string>pic_discovery1</string>
	<string>pic_discovery2</string>
	<string>pic_discovery3</string>
	<string>pic_discovery4</string>
	<string>pic_discovery5</string>
	<string>pic_discovery6</string>
	<string>pic_discovery7</string>
	<string>pic_discovery8</string>
	<string>pic_discovery9</string>
</array>
</plist>
