<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Id</key>
		<integer>0</integer>
		<key>nickname</key>
		<string>JORYA玖雅</string>
		<key>avatar</key>
		<string>icon_test1</string>
		<key>pro</key>
		<integer>1</integer>
		<key>picUrl</key>
		<string>pic_find0</string>
		<key>content</key>
		<string>电视墙跟餐桌合体，拯救奇葩小户型</string>
		<key>type</key>
		<string>整屋案例</string>
		<key>area</key>
		<string>60平米</string>
		<key>huxing</key>
		<string>两室</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>1</integer>
		<key>nickname</key>
		<string>离波设计师</string>
		<key>avatar</key>
		<string>icon_test2</string>
		<key>pro</key>
		<integer>1</integer>
		<key>picUrl</key>
		<string>pic_find1</string>
		<key>content</key>
		<string>上海老弄堂里的现代洋房，会高级成什么样？</string>
		<key>type</key>
		<string>整屋案例</string>
		<key>area</key>
		<string>260平米</string>
		<key>huxing</key>
		<string>三室</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>2</integer>
		<key>nickname</key>
		<string>设计师经验分享</string>
		<key>avatar</key>
		<string>icon_test2</string>
		<key>pro</key>
		<integer>1</integer>
		<key>picUrl</key>
		<string>pic_find2</string>
		<key>content</key>
		<string>吊顶如何化零为整？</string>
		<key>type</key>
		<string>文章</string>
		<key>area</key>
		<string>0</string>
		<key>huxing</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>3</integer>
		<key>nickname</key>
		<string>尴尬的拐角可以这样利用！</string>
		<key>avatar</key>
		<string>icon_test2</string>
		<key>pro</key>
		<integer>1</integer>
		<key>picUrl</key>
		<string>pic_find3</string>
		<key>content</key>
		<string>想要大书桌但空间不够？试试转角书桌吧</string>
		<key>type</key>
		<string>居住指南</string>
		<key>area</key>
		<string>0</string>
		<key>huxing</key>
		<string>0</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>4</integer>
		<key>nickname</key>
		<string>Sosonia</string>
		<key>avatar</key>
		<string>icon_test5</string>
		<key>pro</key>
		<integer>0</integer>
		<key>picUrl</key>
		<string>pic_find4</string>
		<key>content</key>
		<string>好好住新潮流：梳妆台进浴室</string>
		<key>type</key>
		<string>整屋案例</string>
		<key>area</key>
		<string>124平米</string>
		<key>huxing</key>
		<string>三室</string>
	</dict>
	<dict>
		<key>Id</key>
		<integer>5</integer>
		<key>nickname</key>
		<string>末那识空间设计</string>
		<key>avatar</key>
		<string>icon_test6</string>
		<key>pro</key>
		<integer>2</integer>
		<key>picUrl</key>
		<string>pic_find5</string>
		<key>content</key>
		<string>悬空柜+腾筐：看似简单的收纳大胃王</string>
		<key>type</key>
		<string>整屋案例</string>
		<key>area</key>
		<string>60平米</string>
		<key>huxing</key>
		<string>两室</string>
	</dict>
</array>
</plist>
